<% layout("/layouts/boilerplate") -%>
    <h3>Create a New Listing</h3>
</br>
    <div class="row">
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="col-8 offset-2">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="enter catchy title" type="text" class="form-control" required>
            <div class="valid-feedback">Title looks good</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label" required>Description</label>
            <textarea  name="listing[description]" placeholder="Enter description" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter short description</div>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label" required>Category</label>
            <select class="form-select form-select-sm" name="listing[category]" class="form-control" aria-label=".form-select-sm example" required>
                <option selected>Choose One Category</option>
                <option value="rooms">Rooms</option>
                <option value="city">City</option>
                <option value="mountain">Mountain</option>
                <option value="castle">Castle</option>
                <option value="pool">Pool</option>
                <option value="camp">Camp</option>
                <option value="farm">Farm</option>
                <option value="arctic">Arctic</option>
            </select>
            <div class="invalid-feedback">Please select one category</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input name="listing[image]" type="file" class="form-control">
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="1200"
            class="form-control" required>
            <div class="invalid-feedback">Price should be valid</div>

        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
            <div class="invalid-feedback">Country should be valid</div>
        </div>
    </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Jaipur,Rajasthan" type="text" class="form-control" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
    </br></br>
        <button class="btn btn-dark add-btn">Add</button>
    </div>
    </form>
</div>

